<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>User Form</h3>
          <p>Fill in the data below.</p>
          <%= form_for(@user) do |f| %>
            <div class="col-md-12">
              <%= f.label :name %>
              <%= f.text_field :name , class: "form-control" , placeholder: "Full Name", required: true%>
              <br>
            </div>

            <div class="col-md-12">
              <%= f.fields_for :friends do |t| %>
                <%= render "friend_fields", :f => t %>
              <% end %>
            </div>

            <div class="col-md-12">
              <%= link_to_add_association "Add Friend", f, :friends, class: 'btn btn-secondary' %> <!-- (*) -->
            </div>


            <div class="form-button mt-3">
              <%= f.submit 'Create User', class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
